/* frontend/css/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 20px auto;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.message {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

.message p {
    margin: 0;
}

.message strong {
    color: #000;
}
